@use 'sass:color'
@use 'sass:math'

$white: #f5f5f0
$grey: #E6D8C3
$brown: #C2A68C
$brown-dark: color.scale($brown, $lightness: -35%)
$brown-darker: color.scale($brown, $lightness: -50%)
$green: #5D866C
$green-dark: color.scale($green, $lightness: -25%)
$green-darker: color.scale($green, $lightness: -40%)

$nav-gap: 12px
$nav-padding: 8px
$form-gap: 8px
$title-size: 24px
$text-size: 16px

$background-color: $white
$form-background-color: $grey
$text-color: $brown-darker
$link-text-color: $green
$button-background-color: $brown
$button-text-color: $white
$shadow-color: $brown-darker
$input-background-color: inherit
$input-text-color: $text-color

$nav-background-color: $green
$nav-text-color: $white

$background-color-dark: $green-darker 
$text-color-dark: $white 
$button-background-color-dark: $grey 
$button-text-color-dark: $background-color-dark
$shadow-color-dark: $grey 
$input-background-color-dark: $grey 
$input-text-color-dark: $background-color-dark
$link-text-color-dark: $grey 
$nav-background-color-dark: $brown-darker

*, *:before, *:after
  margin: 0
  padding: 0
  box-sizing: border-box
  line-height: 1.5em
h1  
  color: $text-color
  padding: 8px 16px
  size: $title-size

p
  color: $text-color
  padding: 8px 16px
  size: $text-size

a
  color: $link-text-color
  text-decoration: none

body
  background-color: $background-color
  width: 100%
  height: 100%
  max-width: 1920px
  display: flex
  justify-content: center
  align-items: below

.form
  color: $text-color
  padding: $form-gap
  width: 100%
  max-width: 480px
  min-height: 100%
  height: 100%
  margin: auto
  gap: $form-gap
  display: grid
  grid-template-columns: 1fr

  *
    background-color: transparent
    width: 100%

  input, button
    border-style: none
    box-shadow: rgba($shadow-color, 0.2) 0 0 12px
    padding: $form-gap
    transform: translateY(math.div(-$form-gap, 2))
    border-radius: 4px

  button
    background-color: $button-background-color
    color: $button-text-color
    margin-top: math.div($form-gap, 2) // alignment

  input
    color: $input-text-color
    background-color: $input-background-color

  h1
    padding: $form-gap 0
    size: $title-size

.nav
  width: 100vw
  background-color: $nav-background-color
  color: $nav-text-color
  display: flex
  padding: $nav-padding*2 $nav-padding

  *
    background-color: inherit

  .nav-left
    gap: $nav-gap
    display: flex

  .nav-right
    margin-left: auto

  a
    display: inline-block
    color: white
    background: transparent
    text-decoration: none

@media (prefers-color-scheme: dark)
  body
    background-color: $background-color-dark
  h1, p
    color: $text-color-dark

  a
    color: $link-text-color-dark

  .form
    color: $text-color-dark

    input
      color: $input-text-color-dark
      background-color: $input-background-color-dark

    button
      background-color: $button-background-color-dark
      color: $button-text-color-dark

  .nav
    background-color: $nav-background-color-dark

@media(min-width: 480px)
  .form
    display: grid
    grid-template-columns: 1fr 1fr

    h1
      grid-column: span 2
