@use 'sass:color'

$white: #f5f5f0
$grey: #E6D8C3
$brown: #C2A68C
$brown-dark: color.scale($brown, $lightness: -50%)
$brown-darker: color.scale($brown, $lightness: -75%)
$green: #5D866C
$green-dark: color.scale($green, $lightness: -25%)


*, *:before, *:after
  background-color: $white
  margin: 0
  padding: 0
  box-sizing: border-box

h1
  padding: 12px

p
  padding: 18px

a
  color: $green
  text-decoration: none

main
  width: 100%
  max-width: 1920px
  padding: 12px
  height: 100%
  display: flex
  justify-content: center
  align-items: below

.form
  color: $brown-dark
  padding: 12px
  max-width: 480px
  width: 100%
  transform: translateY(50%)
  margin: 0 auto // left right
  gap: 8px
  display: grid
  grid-template-columns: 1fr

  *
    background-color: transparent
    width: 100%

  input, button
    border-style: none
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px
    padding: 8px
    transform: translateY(-4px)

  button
    background-color: $grey
    color: $brown-dark

  input
    color: $brown-darker

.nav
  background-color: $green-dark
  color: $white
  display: flex
  gap: 12px
  padding: 12px
  width: 100%
  align-items: left

  a
    display: inline-block
    color: white
    background: transparent
    text-decoration: none

@media(min-width: 480px)
  $pad: 8px
  .form
    display: grid
    grid-template-columns: 1fr 1fr

    h1
      grid-column: span 2

